In [2]:
import pandas as pd

In [52]:
# Load the two datasets
location_df = pd.read_csv('./Datasets/location_data.csv')
weather_df = pd.read_csv('./Datasets/weather_data.csv')

# Take only the location_id and city_name from location dataset
new_location_df = location_df[['location_id', 'city_name']]

# Merge the two datasets
merged_df = weather_df.merge(new_location_df, on='location_id', how='left')

In [53]:
merged_df.head()

,location_id,date,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),...,rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),sunrise,sunset,city_name
0,0,1/1/2010,1,30.1,22.6,26.0,34.5,25.0,29.0,42220.20,...,0.0,0,12.2,27.4,19,20.92,4.61,06:22,18:05,Colombo
1,0,1/2/2010,51,30.1,23.7,26.3,33.9,26.1,29.7,42225.71,...,0.1,1,13.0,27.0,24,17.71,3.91,06:22,18:06,Colombo
2,0,1/3/2010,51,29.6,23.1,26.0,34.5,26.2,29.9,42231.68,...,0.6,3,12.3,27.4,17,17.76,3.66,06:22,18:06,Colombo
3,0,1/4/2010,2,28.9,23.1,25.7,31.7,26.1,28.4,42238.11,...,0.0,0,17.0,34.6,357,16.50,3.75,06:23,18:07,Colombo
4,0,1/5/2010,1,28.1,21.3,24.6,30.0,22.9,26.2,42244.99,...,0.0,0,18.7,37.1,353,23.61,5.00,06:23,18:07,Colombo

# Data Cleaning

Header Cleaning

In [ ]:

# Remove everything after the first space of every column name
for col in merged_df.columns:
    merged_df.rename(columns={col: col.split(' ')[0]}, inplace=True)

merged_df.columns.tolist()

['location_id',
 'date',
 'weather_code',
 'temperature_2m_max',
 'temperature_2m_min',
 'temperature_2m_mean',
 'apparent_temperature_max',
 'apparent_temperature_min',
 'apparent_temperature_mean',
 'daylight_duration',
 'sunshine_duration',
 'precipitation_sum',
 'rain_sum',
 'precipitation_hours',
 'wind_speed_10m_max',
 'wind_gusts_10m_max',
 'wind_direction_10m_dominant',
 'shortwave_radiation_sum',
 'et0_fao_evapotranspiration',
 'sunrise',
 'sunset',
 'city_name']